@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: "#007AFF";
  --color-secondary: "#007AFF";
  --color-accent: "#007AFF";
  --color-error: "#FF0000";
  --color-warning: "#FF0000";
  --color-success: "#00FF00";
  --color-info: "#00FF00";

  --font-geist-sans: "Geist Sans";
  --font-geist-mono: "Geist Mono";
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


